* {
	padding: 0;
	margin: 0;
}
html, body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	padding-bottom: 50px !important;
}

body {
	background-color: #001c2e;
}

#container {
	max-width: 1920px;
	margin: 0 auto;
	max-height: 100vh;
}

#container > div.active {
	display: block;
}

nav {
	width: 100%;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.6);
}

nav ul {
	max-width: 1920px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline;
	padding: 0 20px;
	border-right: 2px solid #fff;
}

nav ul li:last-child {
	border-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

nav ul li a.active,
nav ul li a:hover {
	border-bottom: 3px solid #fff;
}

/* Home Container */
#home-container.active {
	margin-top: 45vh;
	text-align: center;
	transform: scale(0.94);
	animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

#home-container.active h1,
#home-container.active h2,
#home-container.active h3,
#home-container.active small {
	opacity: 0;
  	filter: blur(4px);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#home-container.active h2 {
	margin-left: -580px;
	font-size: 50px;
	font-weight: 400;
	letter-spacing: -5px;
	animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#home-container.active h1 {
	margin-top: -25px;
	font-size: 90px;
	font-weight: 800;
	letter-spacing: -10px;
	animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#home-container.active h3 {
	margin-left: 440px;
	margin-top: -25px;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: -2px;
	font-style: italic;
	animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 305px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

#home-container.active small {
	margin: 0 auto;
	max-width: 305px;
	display: block;
	margin-top: 20px;
	font-size: 12px;
	font-family: 'Sometype Mono', monospace;
	border-right: 2px solid rgba(255,255,255,.75);
	white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    animation: fade-in 0.3s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0), typewriter 4s steps(44) 1.5s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

/* About Me Container */
#about-me-container.active {
	margin-top: 20vh;
	transform: scale(0.94);
	animation: scale 1.5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

#about-me-container.active .left-container {
	display: inline-block;
	width: 30%;
	text-align: center;
	vertical-align: middle;
}

#about-me-container.active .right-container {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	vertical-align: middle;
	width: 65%;
}

#about-me-container.active .about-me {
	padding: 20px 0;
}

#about-me-container.active .about-me img {
	border-radius: 6px;
}

#about-me-container.active .hero-container {
	text-align: center;
}

#about-me-container.active .hero-container h2 {
	margin-left: -260px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -1px;
}

#about-me-container.active .hero-container h1 {
	margin-top: -10px;
	font-size: 40px;
	font-weight: 800;
	letter-spacing: -4px;
}

#about-me-container.active .hero-container h3 {
	margin-left: 200px;
	margin-top: -10px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -1px;
	font-style: italic;
}

#about-me-container.active .hero-container small {
	text-align: center;
	display: block;
	margin-top: 5px;
	font-size: 10px;
	font-family: 'Sometype Mono', monospace;
}

#about-me-container.active .socials {
	padding: 20px 0;
}

#about-me-container.active .socials ul {
	list-style: none;
}

#about-me-container.active .socials ul li {
	display: inline;
	padding: 0 5px;
}

#about-me-container.active .socials ul li a {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
}

#about-me-container.active .download-cv a {
	display: inline-block;
	padding: 10px 25px;
	color: #fff;
	border: 1px solid #fff;
	text-decoration: none;
	font-size: 12px;
	border-radius: 4px;
	transition: all .6s ease;
}

#about-me-container.active .download-cv a:hover {
	background-color: #fff;
	color: #001c2e;
}

#about-me-container.active .skills {
	padding: 20px 0;
}

#about-me-container.active .skills .skills-divider {
	vertical-align: top;
	display: inline-block;
	width: 35%;
}

#about-me-container.active .skills h4 {
	padding: 5px 0;
}

#about-me-container.active .skills h4 i {
	color: #ffc800;
}

#about-me-container.active .skills h4 small {
	font-weight: normal;
	font-size: 10px;
}

#about-me-container.active .content {
	text-align: center;
}

#about-me-container.active .content > div {
	padding: 10px;
	text-align: left;
}

#about-me-container.active .content h2 {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
}

#about-me-container.active .content .working-exp p,
#about-me-container.active .content .education p {
	font-size: 12px;
}

#about-me-container.active .content .working-exp h3 small,
#about-me-container.active .content .education h3 small {
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
}

#about-me-container.active .content .working-exp h5 small {
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
}

#about-me-container.active .content .working-exp ul {
	margin-left: 25px;
}

#about-me-container.active .content .working-exp ul li {
	margin-bottom: 20px;
}

/* Portfolio Container */
#portfolio-container.active {
	padding: 20px;
	transform: scale(0.94);
	animation: scale 1.5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

#portfolio-container.active h1 {
	text-align: center;
}

#portfolio-container.active .portfolio-content {
	margin-top: 20px;
	text-align: center;
}

#portfolio-container.active .portfolio-content ul {
	list-style: none;
	letter-spacing: 0px;
  word-spacing: 0px;
  font-size: 0px;
}

#portfolio-container.active .portfolio-content ul li {
	position: relative;
	display: inline-block;
	margin: 10px;
	overflow: hidden;
  padding: 0px;
  letter-spacing: 1em;
  word-spacing: 2em;
  font-size: 0px;
	border-radius: 6px;
}

#portfolio-container.active .portfolio-content ul li a {
	position: absolute;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0px;
  padding: 0px;
  letter-spacing: 1em;
  word-spacing: 2em;
  transition: all .3s ease-out;
}

#portfolio-container.active .portfolio-content ul li:hover a {
	top: 0;
}

#portfolio-container.active .portfolio-content ul li a p {
	position: relative;
	margin-top: 25%;
	font-size: 20px;
	font-weight: bold;
}

#portfolio-container.active .portfolio-content ul li img {
	position: relative;
	max-width: 100%;
	width: 500px;
}

.content {
	padding: 20px;
}

#about-me-container.active > div,
#portfolio-container.active {
	opacity: 0;
  filter: blur(4px);
  animation: fade-in 0.2s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 484px) {
	#home-container {
		display: inline-block;
		vertical-align: top;
		padding: 20px;
		margin-top: 40vh !important;
	}

	#home-container h2 {
		text-align: left !important;
  	margin-left: 0 !important;
  	font-size: 40px !important;
  }

  #home-container h1 {
  	text-align: left !important;
  	margin-left: 0 !important;
  	font-size: 55px !important;
  	letter-spacing: -6px !important;
  	margin-top: -2px !important;
  	line-height: 42px;
  }

  #home-container h3 {
  	font-size: 15px !important;
  	margin-top: -3px !important;
  	margin-left: 150px !important;
  	letter-spacing: -1px !important;
  }

  #about-me-container {
  	margin-top: auto !important;
  	padding-bottom: 60px !important;
  }

  #about-me-container .left-container {
  	display: block !important;
  	width: 100% !important;
  }

  #about-me-container .right-container {
  	display: block !important;
  	width: 100% !important;
  }
}
@media only screen and (min-width: 485px) and (max-width: 600px) {
	#home-container {
		padding: 20px;
		margin: 45vh auto !important;
	}

	#home-container h2 {
  	margin-left: -350px !important;
  	font-size: 40px !important;
  }

  #home-container h1 {
  	margin-left: 0 !important;
  	font-size: 58px !important;
  	letter-spacing: -7px !important;
  	margin-top: -14px !important;
  }

  #home-container h3 {
  	font-size: 15px !important;
  	margin-top: -15px !important;
  	margin-left: 290px !important;
  	letter-spacing: -1px !important;
  }

  #about-me-container {
  	margin-top: auto !important;
  	padding-bottom: 60px !important;
  }

  #about-me-container .left-container {
  	display: block !important;
  	width: 100% !important;
  }

  #about-me-container .right-container {
  	display: block !important;
  	width: 100% !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
	#home-container {
		padding: 20px;
		margin-top: 45vh !important;
	}

	#home-container h2 {
  	margin-left: -430px !important;
  	font-size: 50px !important;
  }

  #home-container h1 {
  	margin-left: 0 !important;
  	font-size: 70px !important;
  	letter-spacing: -7px !important;
  	margin-top: -14px !important;
  }

  #home-container h3 {
  	font-size: 18px !important;
  	margin-top: -18px !important;
  	margin-left: 350px !important;
  	letter-spacing: -1px !important;
  }

  #about-me-container {
  	margin-top: auto !important;
  	padding-bottom: 60px !important;
  }

  #about-me-container .left-container {
  	display: block !important;
  	width: 100% !important;
  }

  #about-me-container .right-container {
  	display: block !important;
  	width: 100% !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1250px ){
	#about-me-container {
		margin-top: auto !important;
		padding-bottom: 60px !important;
	}

	#about-me-container .left-container {
		display: block !important;
		width: 100% !important;
	}

	#about-me-container .left-container .about-me img {
		width: 25% !important;
	}

	#about-me-container .right-container {
		display: block !important;
		width: 100% !important;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}